/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core/bin
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core/obj
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core.Test/bin
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core.Test/obj
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core.Test.Implementation/bin
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core.Test.Implementation/obj
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core.Test.Interface/bin
/Unity.Ioc.Framework.Core/Unity.Ioc.Framework.Core.Test.Interface/obj
