<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="packing" type="Unity.Ioc.Framework.Core.Configuration.PackingSection,Unity.Ioc.Framework.Core"/>
  </configSections>

  <packing>
    <moduleAssemblies>
      <add name="Unity.Ioc.Framework.Core.Test.Implementation"/>
    </moduleAssemblies>
  </packing>
</configuration>